<div class="hero-unit" ng-init="resetVars()">
	<h1>Welcome to worbench view</h1>
	<div id="listContainer">
		<input type="text" ng-model="pollTitle"></input>
		<ol id="list">
			<li ng-repeat="item in items">{{item}}</li>
		</ol>
		<input type="text" ng-model="newItem"></input>
		<button class="btn" ng-click="addItem()">Add</button>
	</div>
	<button class="btn" ng-click="savePoll()">
		<i class="icon-facebook"></i>Save Poll
	</button>
	<div id="pollsList">
		<li ng-repeat="poll in polls">{{poll.title}}</li>
	</div>
</div>